body {
    margin: 0;
    padding: 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

img{
  float: center;
  margin-left: 350px;
  width: 50%;
}
.a{
  color: rgb(69, 46, 173);
}

  header {
    background-color: #f2f2f2;
    
  }

  .navbar {
    background-color: #f2f2f2;
    padding: 10px;
  }
  

  .navbar a {
    float: center;
    padding-right: 10px;
    display: inline;
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
  }

  .navbar a:hover{
    color: palevioletred;
  }
  
  .navbar a:link{
    color: #4caf50;
  }


  .navbar a:active {
    color: rgb(74, 84, 166);
  }
  
  h1 {
    font-size: 30px;
    margin: 3px;
    text-align: center;
    padding-bottom: 5px;
  }

  .arc{
    font-size: 26px;
    padding: 1px;
  }
  h2{
    margin-left: 10px;
  }
  
  h3, h4 {
    font-size: 18px;
    margin: 0;
    margin-left: 10px;
    margin-top: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0px;
    margin:0px;
  }
  
  li{
    display: inline-block;
    margin-left: 10px;
   
  }

  .li {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #115314;
    color: bisque;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  .troj{
    float: center;
    margin-left: 350px;
    width: 50%;
  }

  .specs ul {
    list-style-type: none;
    padding: 0;
  }
  
  .specs li {
    margin-bottom: 5px;
  }
  
  .specs strong {
    margin-right: 5px;
  }
  .yub {
    width: 300px;
float: right;
margin-left: 20px;
}

.first{
    background-color: yellow;
  }

.button{
    background-color: black;
    color: white;
    float: center;
    margin-left: 550px;
    margin-bottom: 2%;
    height: 50px;
    width : 150px;
  }
  p{
    margin-left: 10px;
  }

  .img-soft{
    float: right;
    margin-left: 0px;
    width: 30%;
  }

  .img-data{
    float: left;
    margin-right: 15px;
    width: 30%;
    margin-left: 10px;
  }

  .the{
    width: 50%;
    margin-left: 10px;
  }